<h2>Адмін-меню</h2>
<a href="@Url.Action("List")">Список користувачів</a>
<br />
<a href="@Url.Action("ListAdmin")">Список адмінів</a>
<br />
<a href="@Url.Action("CreateDish")">Створити страву</a>
<br />
<a href="@Url.Action("CreateReview")">Створити відгук</a>
<br />
<a href="@Url.Action("ListDishes")">Список страв</a>
<br />
<a href="@Url.Action("CreateCustomer")">Створити користувача</a>
