@model IEnumerable<FoodDrive.Models.Admin>

<h2>Список адміністраторів</h2>
<head>
    <title>FoodDrive - Додавання відгуків</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        form {
            margin-top: 20px;
        }

        input {
            padding: 8px;
            margin: 5px;
            width: 200px;
        }

        button {
            padding: 8px 15px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }
    </style>

</head>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Ім'я</th>
        <th>Дії</th>
    </tr>
    @foreach (var admin in Model)
    {
                <tr>
                    <td>@admin.id</td>
                    <td>@admin.Name</td>
                    <td>
                        <a href="@Url.Action("EditAdmin", new { id = admin.id })">Редагувати</a> |
                        <a href="@Url.Action("DeleteAdmin", new { id = admin.id })">Видалити</a>
                    </td>
                </tr>
    }
</table>

<a href="@Url.Action("CreateAdmin")">Додати адміністратора</a>
<li><a href="@Url.Action("index")">Назад</a>